

div.container {
  border: 5px solid #555;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}
